openapi: 3.1.0
info:
  title: Cflow Requests Users API
  description: Cflow's business automation workflow offers REST APIs for applications, services, and programming components. The API provides a way to connect with external applications and update their data in Cflow's process automation engine. You can list workflows, initiate or approve requests, and manage users, roles, and permissions using the external REST API. All business objects and integration object structures are stored as REST API resources and are available in JSON or XML format.
  version: 1.0.0
  contact:
    name: Cflow Support
    url: https://help.cflowapps.com/
  termsOfService: https://www.cflowapps.com/terms-of-use/
  license:
    name: Proprietary
    url: https://www.cflowapps.com/terms-of-use/
servers:
- url: https://us.cflowapps.com
  description: Cflow US Production Server
security:
- apiKey: []
  userKey: []
  username: []
tags:
- name: Users
  description: Operations for managing users and roles.
paths:
  /integromat/api/cflow/users:
    get:
      operationId: listUsers
      summary: Cflow List Users
      description: Retrieves a list of users in the Cflow account, including their roles and permissions.
      tags:
      - Users
      responses:
        '200':
          description: A list of users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. Admin access required.
        '500':
          description: Internal server error.
  /integromat/api/cflow/roles:
    get:
      operationId: listRoles
      summary: Cflow List Roles
      description: Retrieves a list of roles defined in the Cflow account, including their associated permissions for workflows, lookups, reports, and support.
      tags:
      - Users
      responses:
        '200':
          description: A list of roles.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Role'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. Admin access required.
        '500':
          description: Internal server error.
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the user.
        username:
          type: string
          description: Username of the user.
        email:
          type: string
          format: email
          description: Email address of the user.
        role:
          type: string
          description: Role assigned to the user.
        status:
          type: string
          description: Account status.
          enum:
          - active
          - inactive
    Role:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the role.
        name:
          type: string
          description: Name of the role.
        permissions:
          type: object
          description: Permission settings for this role across workflows, lookups, reports, and support.
          properties:
            workflows:
              type: string
              description: Permission level for workflows.
            lookups:
              type: string
              description: Permission level for lookups.
            reports:
              type: string
              description: Permission level for reports.
            support:
              type: string
              description: Permission level for support.
  securitySchemes:
    apiKey:
      type: apiKey
      name: apikey
      in: header
      description: API key obtained from Cflow Dashboard under Admin > API Settings > Generate API key.
    userKey:
      type: apiKey
      name: userkey
      in: header
      description: User key obtained from Cflow Profile > API Key > UserKey.
    username:
      type: apiKey
      name: username
      in: header
      description: The Cflow account username.
externalDocs:
  description: Cflow Workflow API Documentation
  url: https://www.cflowapps.com/workflow/workflow-api/
