openapi: 3.1.0
info:
  title: Cflow Requests Workflows API
  description: Cflow's business automation workflow offers REST APIs for applications, services, and programming components. The API provides a way to connect with external applications and update their data in Cflow's process automation engine. You can list workflows, initiate or approve requests, and manage users, roles, and permissions using the external REST API. All business objects and integration object structures are stored as REST API resources and are available in JSON or XML format.
  version: 1.0.0
  contact:
    name: Cflow Support
    url: https://help.cflowapps.com/
  termsOfService: https://www.cflowapps.com/terms-of-use/
  license:
    name: Proprietary
    url: https://www.cflowapps.com/terms-of-use/
servers:
- url: https://us.cflowapps.com
  description: Cflow US Production Server
security:
- apiKey: []
  userKey: []
  username: []
tags:
- name: Workflows
  description: Operations for managing workflows.
paths:
  /integromat/api/cflow/getworkflows:
    get:
      operationId: getWorkflows
      summary: Cflow List Workflows
      description: Retrieves a list of all available workflows in the Cflow account. Returns workflow definitions including their names, identifiers, and associated metadata.
      tags:
      - Workflows
      responses:
        '200':
          description: A list of workflows.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workflow'
        '401':
          description: Unauthorized. Invalid or missing authentication credentials.
        '403':
          description: Forbidden. Insufficient permissions.
        '500':
          description: Internal server error.
  /integromat/api/cflow/workflows/{workflowId}:
    get:
      operationId: getWorkflow
      summary: Cflow Get Workflow
      description: Retrieves the details of a specific workflow by its unique identifier, including its stages, fields, and configuration.
      tags:
      - Workflows
      parameters:
      - name: workflowId
        in: path
        required: true
        description: The unique identifier of the workflow.
        schema:
          type: string
      responses:
        '200':
          description: Workflow details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '401':
          description: Unauthorized.
        '404':
          description: Workflow not found.
        '500':
          description: Internal server error.
components:
  schemas:
    Workflow:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the workflow.
        name:
          type: string
          description: Name of the workflow.
        description:
          type: string
          description: Description of the workflow.
        status:
          type: string
          description: Current status of the workflow.
          enum:
          - active
          - inactive
          - draft
        stages:
          type: array
          description: List of process stages in the workflow.
          items:
            $ref: '#/components/schemas/Stage'
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the workflow was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the workflow was last updated.
    Stage:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the stage.
        name:
          type: string
          description: Name of the process stage.
        order:
          type: integer
          description: Order of the stage in the workflow.
        reviewers:
          type: array
          description: Users assigned as reviewers for this stage.
          items:
            type: string
  securitySchemes:
    apiKey:
      type: apiKey
      name: apikey
      in: header
      description: API key obtained from Cflow Dashboard under Admin > API Settings > Generate API key.
    userKey:
      type: apiKey
      name: userkey
      in: header
      description: User key obtained from Cflow Profile > API Key > UserKey.
    username:
      type: apiKey
      name: username
      in: header
      description: The Cflow account username.
externalDocs:
  description: Cflow Workflow API Documentation
  url: https://www.cflowapps.com/workflow/workflow-api/
